<div class="form-group">
    <div class="list-group">
      <a href="/admin/admin-topic" class="btn btn-primary btn-block">Add topic</a>
    </div>
  </div>
  <div class="form-group">
    <div class="list-group">
      <a href="/admin/admin-project" class="btn btn-primary btn-block">Add project</a>
    </div>
  </div>
  <div class="form-group">
    <div class="list-group">
      <a href="/admin/admin-edit" class="btn btn-primary btn-block">Delete project</a>
    </div>
  </div>